<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue To Do List</title>
</head>
<body>
    
    <div id="app">
        <div class="container">

            <div class="logo">
                <img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://www.filepicker.io/api/file/PrjQ7ZxTQye3aR2Tzt3N" alt="">
            </div>
    
            <div class="text">
                <input type="text" v-on:keyup.enter="addList"  placeholder="Nuovo Todo" v-model="todoIn">
                <button @click="addList" >Aggiungi</button>
            </div>
    
            <div class="list">
                <ul v-if="(arrayTodo.length > 0)">
                    <li v-for="(item, index) in arrayTodo">
                        {{index + 1}} - {{item}}
                        <i class="fas fa-times" @click="remove(index)"></i>
                    </li>
                </ul>
                <h2 v-else>Nessun Todo</h2>
            </div>


        </div>
        

    </div>





    <script src="js/script.js"></script>
</body>
</html>